<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Novo usuario</title>
    </head>
    <body>
        <h1>Novo usuario<</h1>
       	<form th:action="/" method="post" th:object="${user}">
       		<input type="text" th:field="*{username}"/>
       		<input type="hidden" th:field="*{password}"/>
       		<button type="submit">Cadastrar</button>
       	</form>
    </body>
</html>