<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"padding overlap max width
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{decorators/template}"
      >
    <head>
    	<!-- <link th:href="@{/global/global.css}" rel="stylesheet"> -->
        <title></title>
    </head>
    <body>
    	<section layout:fragment="content">
    	 	
    		<div class="form-container w-50">	
	    		<h2>Novo campeonato</h2>
	    		<hr />
		       	<form th:object="${campeonato}" th:action="@{form}" method="post">
		       		<input type="hidden" th:field="*{id}"/>
		       		<input type="hidden" th:field="*{divisao}" value="1"/>
		       		<div class="row">
			       		<div class="form-group col-12">
			       			<label for="temporada">Temporada</label>
			       			<input class="form-control" type="number" required th:field="*{temporada}">
			       			 <span th:if="${#fields.hasErrors('temporada')}" class="field-error"  th:errors="*{temporada}"></span>
			       		</div>

			       		<div class="space-between-center mt-2">
			       			<a class="btn btn-cancel" type="reset" th:href="@{/campeonato}">Voltar</a>
			       			<input class="btn btn-success" type="submit" value="Cadastrar" />
			       		</div>
		       		</div>
		       	</form>
	       	</div>
       	</section>
    </body>
</html>