<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{decorators/template}"
      >
    <head>
    	<!-- <link th:href="@{/global/global.css}" rel="stylesheet"> -->
        <title></title>
    </head>
    <body>
    	<section layout:fragment="content">
	        <h1>Campeonatos</h1>
	       	<form th:object="${campeonato}" th:action="@{form}" method="post">
	       		<input type="hidden" th:field="*{id}"/>
	       		<div class="form-group">
	       			<label for="temporada">Temporada: </label>
	       			<input type="number" th:field="*{temporada}">
	       			 <span th:if="${#fields.hasErrors('temporada')}" class="field-error"  th:errors="*{temporada}"></span>
	       		</div>
	       		<div class="form-group">
	       			<label for="divisao">Divisão: </label>
	       			<input type="number" th:field="*{divisao}">
	       			<span th:if="${#fields.hasErrors('divisao')}" class="field-error" th:errors="*{divisao}"></span>
	       		</div>
    			<div class="form-group">
	       			<label for="divisao">Número de participantes: </label>
	       			<input type="number" th:field="*{numParticipantes}">
	       			<span th:if="${#fields.hasErrors('numParticipantes')}" class="field-error" th:errors="*{numParticipantes}"></span>
	       		</div>
	       		<input type="submit" value="Cadastrar" />
	       	</form>
       	</section>
    </body>
</html>