<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{decorators/template}"
>
    <head>
        <title></title>
    </head>
    
    <body>
    	<section layout:fragment="content">
    		
    		<div class="block-error" th:if="${message}">${message}</div>
    		
    		<div class="space-between-center">
		        <h2>Campeonatos</h2>
		         <a class="btn btn-primary" th:href="@{campeonato/form}">Novo campeonato</a>
	       	</div>
	        
	        <table id="table-campeonato" class="table cell-border compact stripe">
	        <thead>
	        	<tr>
	        		<th>Temporada</th>
	        		<!-- <th>Divisão</th> -->
	        		<th>Ações</th>
	        	</tr>
	        </thead>
	       	<tbody>
		       	<tr th:each="campeonato, status: ${campeonatoLista}" th:if="${status.index == 0 || campeonato?.temporada != campeonatoLista[status.index-1]?.temporada}">
		       		<td><span th:text="${campeonato.temporada}"></span></td>
		       		<!--<td><span th:text="${campeonato.divisao}"></span></td> -->
		       		<td>
		       			<a class="btn" th:href="@{/campeonato/view/{id}(id=${campeonato.temporada})}"><i class="bi bi-people"></i></a>
		       		</td>
		       	</tr>
	       	</tbody>
	       	</table>
       	</section>
    </body>
</html>