<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{decorators/template}">
<head>
<!-- <link th:href="@{/global/global.css}" rel="stylesheet"> -->
<title></title>
<style>
	.hidden{
		visibility: hidden;
	}
</style>
</head>
<body>
	<section layout:fragment="content">
	<h2></h2>
		<div class="form-container">
			
			<form th:object="${campeonato}"
				th:action="@{/campeonato/participantes}" method="post">

				<div class="field-error" th:if="${#fields.hasAnyErrors()}"
					th:each="error : ${#fields.allErrors()}">[[${error}]]</div>
				<div class="error" th:if="${error}">[[${error}]]</div>
				
					
				<div class="space-between-center">
					<h2>Divisão [[${campeonato.divisao}]] | Participantes</h2>
					<button type="submit" class="text-white btn btn-primary" name="addRow">Adicionar</button>
				</div>
				<hr />
				<input type="hidden" th:field="*{id}" /> <input type="hidden"
					th:field="*{temporada}" /> <input type="hidden"
					th:field="*{divisao}" />

				<div class="row" th:each="standing, status: ${campeonato.standings}">
					<input class="btn" type="hidden"
						th:field="*{standings[__${status.index}__].campeonato.id}"></input>
					<input class="btn" type="hidden"
						th:field="*{standings[__${status.index}__].id}"></input>
					<div class="form-group text-center my-auto" style="width:40px;">
						<input type="hidden" th:value="${status.index+1}" th:name="${'standings['+(status.index)+'].posicao'}"></input>
						<span class="h3" th:text="${status.index + 1}+'º'"></span>
					</div>
					<div class="form-group col">
						<label for="participante">Participante:</label> 
						<select id="participante" class="form-select-sm" th:field="*{standings[__${status.index}__].participante}">
							<option value="-1">Escolha um participante...</option>
							<option th:each="opt: ${participanteLista}"
								th:selected="${opt.id == standing?.participante?.id}"
								th:value="${opt.id}" th:text="${opt.nome}"></option>
						</select>
					</div>
					<div class="form-group col">
						<label for="pontos">Pontos:</label> <input placeholder="Pontos"
							type="number" th:field="*{standings[__${status.index}__].pontos}"></input>
					</div>
					<div class="form-group col">
						<label for="pontosFora">Pontos fora:</label> <input
							placeholder="Pontos fora" type="number"
							th:field="*{standings[__${status.index}__].pontosFora}"></input>
					</div>
					<div class="d-flex align-items-end col gap-2">
						<button class="text-white btn btn-secondary" 
							th:classAppend="${status.index + 1 == campeonato?.standings?.size ? 'hidden' : ''}"
							type="submit" name="down" th:value="${status.index}" >
							<i class="bi bi-arrow-down-circle"></i>
						</button>
						
						<button class="text-white btn btn-secondary mx-1" th:value="${status.index}"
							th:classAppend="${status.index == 0 ? 'hidden' : ''}"
							type="submit" name="up">
							<i class="bi bi-arrow-up-circle"></i>
						</button>
						
						<button class="text-white btn btn-danger" th:value="${status.index}" 
							type="submit" name="removeRow">
							<i class="bi bi-trash3 white"></i>
						</button>
						
					</div>
				</div>
				<hr />
				<div class="space-between-center">
					<a class="btn btn-cancel"
						th:href="@{|/campeonato/view/${campeonato.temporada}|}"
						type="button">Voltar</a> <input class="btn btn-success"
						type="submit" value="Finalizar" />
				</div>
			</form>
		</div>
	</section>
</body>
</html>