<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{decorators/template}">
<head>
<!-- <link th:href="@{/global/global.css}" rel="stylesheet"> -->
<title></title>

</head>
<body>
	<section layout:fragment="content">
		<h2>Participantes</h2>

		<div th:each="campeonato: ${campeonatoLista}">
			<br/>
			<div class="d-flex justify-content-between">
				
				<h3 th:text="|Divisão ${campeonato.divisao}|"></h3>
				
				<div class="button-group">
					<a class="btn btn-primary" th:href="@{/campeonato/participantes(id=${campeonato.id})}"><i
						class="bi bi-sticky"></i> Editar</a>
					<a class="btn btn-danger" th:href="@{/campeonato/delete/{id}(id=${campeonato.id})}"><i
						class="bi bi-eraser"></i> Apagar</a>
				</div>
			</div>
			<br/>
			<table class="table">
				<thead>
					<tr>
						<th>Posição</th>
						<th>Participante</th>
						<th>Pontos</th>
						<th>Pontos Fora</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="standing: ${campeonato?.standings}">
						<td>[[${standing.posicao}]]</td>
						<td>[[${standing.participante.nome}]]</td>
						<td>[[${standing.pontos}]]</td>
						<td>[[${standing.pontosFora}]]</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>