<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<meta charset="UTF-8" /> 
  </head>
  <body>
    <div th:fragment="header" class="navbar navbar-inverse navbar-fixed-top" >
	<header>
		<div class="list-header">
			<ul>
			  <li><a th:href="@{/campeonato}">Campeonato</a></li>
			  <li><a th:href="@{/participante}">Participantes</a></li>
			</ul>
			<ul >
			  <li sec:authorize="isAuthenticated()">
			  <form id="logout" th:action="@{/logout}" method="post">
			    <a href="#" onclick="logout()">Logout</a>
			  </form>
			  </li>
			</ul>
		</div>
	</header>
    </div>
  </body>
</html>