<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<meta charset="UTF-8" /> 
  </head>
  <body>
    <div th:fragment="header" >
	<header>
		<ul class="nav">
		  <li class="nav-item">
		    <a class="nav-link text-white" aria-current="page" th:href="@{/campeonato}">Campeonato</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link text-white" th:href="@{/participante}">Participantes</a>
		  </li>
		  <li class="nav-item" sec:authorize="isAuthenticated()">
		    <form id="logout" th:action="@{/logout}" method="post">
			    <a class="nav-link text-white" href="#" onclick="logout()">Logout</a>
			 </form>
		  </li>
		</ul>
	</header>
    </div>
  </body>
</html>